<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Steam E2E Automation Suite" verbose="1">

    <test name="Full Workflow and Unit Regression" preserve-order="true">
        <classes>
            <class name="SearchTests"/>
            <class name="VerificationTests"/>
            <class name="CartWorkflowTests"/>

            <class name="UrlTitleTests"/>
            <class name="NavigationTests"/>
            <class name="GenreTests"/>
            <class name="ReviewTests"/>
            <class name="ScreenshotTests"/>
        </classes>
    </test>

</suite>