<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Steam_E2E_Serial_Suite">

    <test name="Full_Project_Run">
        <classes>
            <class name="StorePageTest"/>
            <class name="SearchResultTest"/>
            <class name="GamePageTest"/>
            <class name="GameInfoTest"/>
            <class name="ReviewTest"/>
            <class name="DevPageTest"/>
            <class name="PublisherPageTest"/>
            <class name="CartPageTest"/>
        </classes>
    </test>

</suite>

